<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ site.baseurl }}/css/gtuner.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/pygments.css" rel="stylesheet">
  </head>
  <body>
    <div class="container"><!--
   --><header><!--
      --><h1 id="gtuner">amit</h1><!--
      --><nav><!--
      --><ul><!--
        --><li class={% if page.title == 'Documentation' %}
                      "current"
                     {% else %}
                     "border-blink toLeft"
                     {% endif %}><!--
            --><a href="{{ site.baseurl }}/index.html">Documentation</a><!--
        --></li><!--
        --><li class={% if page.title == 'Demo' %}
                      "current"
                     {% else %}
                     "border-blink toLeft"
                     {% endif %}><!--
            --><a href="{{ site.baseurl }}/demo.html">Demo</a><!--
        --></li><!--
        --><li class="border-blink toRight"><a href="https://github.com/archblob/gtuner">GitHub Project Page</a></li><!--
        --></ul><!--
      --></nav><!--
      --></header><!--
   --><section>
