body {
  background-color : rgb(58,58,58);
}

.contentContainer {
  background-color : rgb(38,38,38);

  margin-left : 5px;
  padding     : 5px;
}

#pageContainer {
  display : -webkit-flex;
  -webkit-justify-content : center;
}

#centsContainer {
  height : 200px;
  width  : 400px;

}

#centsView {
  background-color : rgb(227,227,227);

  -webkit-box-shadow : inset 0 0 3px rgb(0,0,0);
  box-shadow         : inset 0 0 3px rgb(0,0,0);
}

#about {
  background-color : rgb(70,70,70);

  font-family : 'Inconsolata', sans-serif;
  color       : rgb(227,227,227);

  padding : 4px;
  height  : 190px;
}
